body {

    font-family: 'Jost',
        sans-serif;
    font-family: 'Lobster',
        cursive;
    font-family: 'Poppins',
        sans-serif;
    font-family: 'Roboto',
        sans-serif;
}

body {
    margin: 0;
    padding: 0;

}

p {
    font-size: 23px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 25px;
}

#headline {
    font-size: 50px;

}

.header {
    text-align: center;
    color: white;
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    padding-bottom: 90px;
    margin-bottom: 50px;


}

.upper {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 30vh;
    background-size: 100%;

}

.btn {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #FF5959;
    border: 3px solid #FF5959;
    font-weight: bold;
}

.donate-today {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.bolder-text {
    font-family: 'Roboto';
}

.p-center {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.money-box {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.white-box {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 0.5px .05px 0.5px 0.5px rgb(249, 246, 246);
    background-color: #FAFAFA;

}

#color-box {
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
    border-radius: 3px;
}

.ammount {
    text-align: center;
    margin-bottom: 30px;
}

#ammount-tk {
    opacity: .5;
    text-decoration: none;

}

#hr-tag {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

#card {
    display: flex;
    justify-content: space-around;
    background-size: 100%;
    padding-bottom: 1%;
    width: 100%;
}

#card1 {
    margin-left: 10%;
    width: 80%;
    height: 60vh;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 1%;
    border-radius: 5px;
    background: #78d8e3;
    background-size: cover;

}

#card2 {
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
    height: 60vh;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 1%;
    border-radius: 5px;
    background: #fe9292;
    background-size: cover;
}

#card3 {
    margin-right: 10%;
    width: 80%;
    height: 60vh;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 1%;
    border-radius: 5px;
    background: #FFF4D6;
    background-size: cover;
}

#bonus-card-id {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    box-shadow: 1px 1px 10px gray;
    justify-content: space-between;
    border-radius: 15px;
    background-image: linear-gradient(rgb(249, 191, 84), rgb(241, 128, 87), rgb(246, 201, 117));

}

#bonus-card-id img {
    width: 100%;
    height: 100%;
}

#bonus-card-text-id {
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
}


#last-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}

/*background-color: #FFF4D6*/


#subs-btn {
    border: 1px #FFFFFF;
    border-radius: 0%;
    padding: 10px 30px 10px 30px;
    background-color: #FF5959;
    background-size: cover;
    margin-left: -5px;
}

#email {
    background-color: #d9d9d9;
    border: 1px #FFFFFF;
    border-radius: 0%;
    padding: 10px 30px;
    margin-right: -5px;
}

#box-in {
    padding: 50px 100px 50px 100px;
    background-color: #FFF4D6;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

.stylish-font {
    font-style: normal;
    color: #FF5959;
    font-family: 'Lobster'
}